.header-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
}

.quiz-container {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
}